
#article
  max-width 740px
  font-family 'Merriweather', serif;
  font-weight 300
  overflow hidden
  h1,h2,h3
    color #222
  h1
    font-size 2rem
  h2 
    font-size 1.5rem
  h3
    font-size 1.3rem

.article-head
  margin-top 50px
  margin-bottom 25px
  padding 0 25px
  h2
    display inline
    margin-left -50px
    font-weight bold
    margin-bottom 40px
    
.article-body
  padding 0 25px
  
img, .sider
  padding-top 25px
  padding-bottom 40px
  // +:after
  //   display block
  //   content ''
  //   clear both
  &.center
    margin 15px auto
    display block
  &.left
    float left
    margin-left -25px
    margin-right 25px
  &.right
    float right
    margin-left 25px
    margin-right -25px
  &+p
    padding-top 25px
    
p
  font-size 1.1rem
  span.small-caps
    font-variant small-caps
    color #000
    font-weight bold
  &+p 
    padding-top 25px
  &.small
    font-size 90%
    
ul
  li, h3
    padding-left 10px
    font-size 90%
    line-height 1.58
    letter-spacing -.003em
  li:before
    content "•"
    padding-right 5px
    color black

.sider
  h3
    padding-left 10px
  li:before
    color blue
  &.left
    padding-right 20px
  &.right
    padding-left 20px