.aspect-outer, .aspect-inner
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  
.aspect-outer
  position relative
  width 100%
  &.pt130
    padding-top 130%
  &.pt100
    padding-top 100%
  &.pt75
    padding-top 75%
  &.pt50
    padding-top 50%
  &.pt33
    padding-top 33%

@media (max-width: 880px)
  #app#app#app#app
    
    [class*='w-'] 
      float none
      padding-right 0
      margin 0
      width 100%
      padding-bottom 10px
    header
      padding-top 5vh
    .masthead
      position static
      .punctum
        display none
      .punctum-responsive
        display block
        font-size 1.6rem
        font-family 'Montserrat', sans-serif
        text-transform uppercase
        color inherit
        letter-spacing 0.2vw
        font-weight 700
      .description
        position absolute
        left 0
        right 0
    nav
      a
        margin 0 5px
        font-size 0.6rem
    .projects-sidebar
      float none
      padding 0px
      width 100%
      margin 0px
    .view-project
      float none
      width 100%
      .project-showcase
        width 100%
        
    .step-in
      padding-left 10px
    .step-in-twice
      padding-left 20px
      
    .article-head 
      margin 0
      h2
        display inline-block
        margin 0
        text-align center