@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');

$text-color = #353535
$text-color-muted = rgba(0,0,0,0.5)

$space-big = 30px
$space-medium = 20px
$space-small = 15px
$space-mini = 5px

header
  padding-top 5rem
  transition padding-top 300ms ease-in-out
  &.compress
    padding-top 10px
  
nav
  display inline-block
  float right
  height auto
  &:hover
    & a
      color $text-color-muted
      &:after
        width 0!important
  a
    text-decoration none
    display inline-block
    margin 0 $space-big
    padding 0 2px
    line-height 2
    &.underline
      border-bottom 0
      line-height 2
      &:after
        width 100%
        border-bottom 1px solid
    &:after
      content ''
      display block
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      width 0
      margin 0 auto
      transition width 0.1s linear
    &:hover
      color $text-color
      &:after
        width 100%!important
        border-bottom 1px solid

html
  font-size 18px
  overflow-x hidden
      
body 
  // font-family 'Open Sans', sans-serif
  font-family 'Droid Sans Mono', monospace;
  line-height 1.56
  text-size-adjust 100%
  -webkit-font-smoothing antialiased
  color $text-color
  font-size 18px
  letter-spacing 1px
  font-weight 300
  background #efefef
  width 100%
  overflow hidden

img
  max-width 100%
  height auto
  border 0

a
  color inherit
  cursor pointer
  transition color 0.1s linear
  &:hover
    color $text-color-muted
p 
  b, strong
    font-weight 400

footer
  padding-top $space-big
  
h1
  font-size 1.2rem
  
h2
  font-size 1.1rem

h3
  font-size 1rem
  
#app
  width 70em
  max-width 90%
  margin 0 auto
  // overflow hidden

.view
  min-height 90vh
  

$directions = top right bottom left
$sizes = big medium small mini
for direction, i in $directions
  for size, x in $sizes
    .spacer-{direction}-{size}
      margin-{direction} lookup('$space' + '-' + size)

.float:after
  display block
  content ''
  clear both
for i in (1..20)
  .w-{i*5}
    width i*5%
    float left


[class*='w-'] 
  padding-right $space-big
  &:last-of-type 
    padding-right 0

.third
  width 33.3%
  float left
.double
  width calc(50% - 15px)
  float left
  &:first-child
    margin-right 30px
  .w-50
    width calc(50% - 15px)
    &:first-child
      padding-right 0px
      margin-right 30px
      
.projects-sidebar .double
  width 100%
  margin 0


.muted
  color $text-color-muted
  
.underline 
  border-bottom 1px solid
  line-height 1.1
  
.divider
  border-top 0px solid rgba(0,0,0,0.08)
  
.inline-block
  display inline-block
  
section
  padding-top $space-big
  margin-bottom 9rem
  
.block
  display block
  float none

// ================================ SPLIT



.punctum-responsive
  display none
.punctum
  display block
  font-size 1.6rem
  font-family 'Montserrat', sans-serif
  text-transform uppercase
  color inherit
  letter-spacing 0.2vw
  font-weight 700
  
.intro
  padding-top 24vh


.project-single
  padding-right 20px

.project-image
  position absolute
  top 0px
  left 0px
  right 0px
  bottom -15px
  background-size 100% auto
  background-repeat no-repeat
  background-position top center
  
.project-preview
  width 100%
  display block
  &:hover
    color $text-color-muted
    &:after
      content attr(title)
      text-align center
      background #333
      border-radius 5px
      bottom 95%
      color #fff
      padding 0 10px
      line-height 30px
      position absolute
      z-index 98
    & .project-preview-circle
      background transparent!important
    & .project-preview-text
      color $text-color-muted
    
.project-more
  width 100%
  display block
  padding-left 30px

.project-preview-text
  padding-top 30px
  font-family 'Montserrat', sans-serif
  letter-spacing 0.2vw
  font-size 20px
  text-align center
  color black
.project-preview-circle
  background #cecece
  border-radius 100%
  transition background 0.3s ease
.project-image-small
  position absolute
  top 0px
  left 0px
  right 0px
  bottom -15px
  background-size 100% auto
  background-repeat no-repeat
  background-position top center
.project-image-more
  position absolute
  top 0px
  left 30px
  right 0px
  bottom -15px
  background url('/img/more.png')
  background-size 80% auto
  background-repeat no-repeat
  background-position top center
  
.projects-wrapper
  padding-top 2vh
  & *
    transition all 300ms ease-in-out
    
  & .intro
    padding-top 10vh
  & .hide
    overflow hidden
    margin 0
    padding 0
    height 0px
    transition all 300ms ease-in-out
    & .project-image
      height 0px
      
  & .projects-section
    display block
    margin-bottom 20px

  & .project-description
    display block
    height 130px
    margin-bottom 20px
    overflow hidden
    h3
      font-weight bold
      
  .view-project
    float right
    width calc(75% + 20px)
    transition all 300ms ease-in-out
    overflow hidden
    // background #efefef
    & .project-showcase
      width 100%
      background-color #fff
      margin 25px 0
      & .inside
        width 100%
        height 100%

  .projects-sidebar
    float left
    padding-right 30px
    width calc(25% + 30px)
    margin-left -50px
    & [class*='w-'] 
      float none
      padding-right 0
      width 100%
    & .intro
      margin 0px
    .active
      color black
      padding-left 20px

    .sidebar-project-hold-left
      position absolute
      top 0
      left 0
      display block
      width 25%
      
    .sidebar-project-pop-right
      display block
      padding-left calc(25% + 8px)
      top -3px
      font-size 14px
      padding-bottom 30px
      h3
        font-size 18px
        font-weight bold


nav
  display inline-block
  float right
  height auto
  &:hover
    & a
      color $text-color-muted
      &:after
        width 0!important
  a
    text-decoration none
    display inline-block
    margin 0 $space-big
    padding 0 2px
    line-height 2
    &.underline
      border-bottom 0
      line-height 2
      &:after
        width 100%
        border-bottom 1px solid
    &:after
      content ''
      display block
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      width 0
      margin 0 auto
      transition width 0.1s linear
    &:hover
      color $text-color
      &:after
        width 100%!important
        border-bottom 1px solid

.masthead
  display inline-block
  color transparent
  
  span.description
    color #111
    text-align center
    display block
    position absolute
    top 100%
    left 0
    right 0
    
  &:after
    content ""
    height 100%
    width 100%
    background #222
    z-index 2
    display block
    position absolute
    top 0
    left 0
    transform-origin left
    transform scaleX(0)

  &.run
    animation mastheadInit 0.6s 0.5s forwards
    &:after 
      animation blackLoad 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards


.min-100
  min-height 100px


$lines = rgba(0,0,0,0.03)
body
  background-image linear-gradient(0deg,$lines 1pt,transparent 0px),linear-gradient(90deg,$lines 1pt,transparent 0px) //pt because px weird x-browsers
  background-size 120px 120px
  